site_name: 2026 VCE Software Development - Iona College Geelong
theme:
  name: material
  palette:
    primary: deep purple
    accent: teal
  features:
    - navigation.tabs
    - navigation.sections

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true